<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hufs.dev.yongjin.multimediapt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/brazil_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".lecture8Activity"
            android:label="@string/title_activity_lecture"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".lecture9Activity"
            android:label="@string/title_activity_lecture9"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".lecture10Activity"
            android:label="@string/title_activity_lecture10"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".lecture11Activity"
            android:label="@string/title_activity_lecture11"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".lecture12Activity"
            android:label="@string/title_activity_lecture12"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>